body { background-color: #DDD; }

.content {
	background-color: #f5f5f5;
	padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;
	margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;
}

a.navlink:link { color: #003366; font-weight: bold; text-decoration: none; }
a.navlink:visited { color: #003366; font-weight: bold; text-decoration: none; }
a.navlink:hover { color: #CCCCCC; font-weight: bold; text-decoration: none; }

td {
	font-family: Tahoma; font-size: 13px;
	vertical-align: center;
}

.title {
	font-size: 24px; font-weight: normal; color: #FFFFFF;
	margin-top: 5px; margin-bottom: 5px; margin-left: 20px;
	padding-top: 5px; padding-bottom: 5px; padding-left: 20px;
}

ul, li{
	margin:0;
	padding:0 0 0 15px;
}

.column{
	float: left;
	margin: 0 20px 0 0;
}

fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  }
  
label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
  